h1,
h2,
h3 {
  font-family: Poppins !important;
}
.gloria-hero {
  min-height: 95vh;
  width: 100%;
  background-color: #009fe3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px;
  color: #ffffff;
}
.hero-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-wrap: balance;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding-block: 20px;
}
.hero-titles h1 {
  font-size: 56px;
  font-weight: bold;
  padding-block: 20px;
}
.hero-actions {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-block: 20px;
}
.hero-img-container {
  width: 100%;
}
.hero-img-container img {
  width: 100%;
}
.button-tercero {
  background: transparent;
  color: #ffffff;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid white;
  transition: 0.3s;
}
.button-tercero:hover {
  background: #ffffff;
  color: #009fe3;
  font-weight: bold;
  border: none;
}

/* seccion conoce gloria */
.conoce-gloria {
  display: grid;
  place-items: center;
  text-align: center;
}
.conoce-gloria h2 {
  font-size: 32px;
}
.subtitulo {
  color: #706f6f;
}

/* seccion Features */
.features-container {
  padding: 20px;
}
.feat-header {
  padding-bottom: 20px;
}
.feat-header h2 {
  text-align: center;
  padding-block: 32px;
  font-size: 32px;
}
.features-container h3 {
  font-size: 20px;
}
.feat-img-container {
  width: 100%;
  padding-block: 20px;
}
.feat-img-container img {
  width: 100%;
}
.par-feat-2 {
  display: none;
}

/* seccion Aprendizaje */
.learn-container {
  padding: 20px;
}

/* MEDIA QUERIES */
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .hero-titles h1 {
    font-size: 72px;
  }
  .subtitulo {
    font-size: 32px;
  }
  .conoce-gloria h2 {
    font-size: 72px;
    width: 80%;
  }
  .features-container {
    padding: 200px;
  }
  .feat-header h2 {
    text-align: start;
    font-size: 72px;
    text-wrap: balance;
  }
  .feat-info {
    display: flex;
    flex-direction: row-reverse;
    gap: 2em;
    align-items: center;
  }
  .par-feat-1 {
    display: none;
  }
  .par-feat-2 {
    display: block;
    font-size: 16px;
  }
  .feat-info-header {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 2em;
  }
  .feat-info-header h3 {
    font-size: 32px;
    line-height: 1.8;
    text-wrap: balance;
  }
  .feat-img-container {
    width: 50%;
  }
  /*********** aprendizaje ******************/
  .learn-container {
    padding: 0 200px;
  }
  .learn-info {
    display: flex;
    flex-direction: row;
    gap: 2em;
    align-items: center;
  }
}

/* Large devices (laptops/desktops, 980px and up) */
@media only screen and (min-width: 980px) {
  .gloria-hero {
    padding: 100px 200px;
    flex-direction: row;
  }
  .hero-info {
    align-items: flex-start;
  }
  .hero-titles {
    align-items: flex-start;
    text-align: start;
    padding-block: 20px;
    max-width: 80%;
  }

  /* CONOCE GLORIA */
  .conoce-gloria h2 {
    font-size: 72px;
    text-wrap: balance;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
