h1,
h2,
h3 {
  font-family: Poppins !important;
}
/******* hero ************/
.gloria-hero {
  min-height: 95vh;
  width: 100%;
  background-color: #009fe3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px;
  color: #ffffff;
}
.hero-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-wrap: balance;
  border-bottom: 1px solid #b2b2b2;
  padding-block: 20px;
}
.hero-titles h1 {
  font-size: 56px;
  font-weight: bold;
  padding-block: 20px;
}
.hero-actions {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-block: 20px;
}
.hero-img-container {
  width: 100%;
}
.hero-img-container img {
  width: 100%;
}
.button-tercero {
  background: transparent;
  color: #ffffff;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid white;
  transition: 0.3s;
}
.button-tercero:hover {
  background: #ffffff;
  color: #009fe3;
  font-weight: bold;
  border: none;
}

/************ seccion conoce gloria ***********/
.conoce-gloria {
  display: grid;
  place-items: center;
  text-align: center;
}
.conoce-gloria h2 {
  font-size: 32px;
}
.subtitulo {
  color: #b2b2b2;
}

/******************* seccion Features ***************/
.features-container {
  padding: 20px;
}
.feat-header {
  padding-bottom: 20px;
}
.feat-header h2 {
  text-align: center;
  padding-block: 32px;
  font-size: 32px;
}
.features-container h3 {
  font-size: 20px;
}
.feat-img-container {
  width: 100%;
  padding-block: 20px;
}
.feat-img-container img {
  width: 100%;
}
.par-feat-2 {
  display: none;
}

/***************** seccion Aprendizaje ********************/
.learn-container {
  padding: 20px;
}
/***************** seccion Como funciona ********************/
.road-container {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.road-container h2 {
  padding-block: 20px;
}
.road-timeline {
  width: 300px;

}
.par-timeline {
  border-top: 2px dashed;
  border-color: #009fe3 !important;
  margin:0; 
  padding: 40px;
  counter-increment: section;
  position: relative;
}
.par-timeline:nth-child(even):before {
  content: counter(section);
  position: absolute;
  border-radius: 50%;
  padding: 20px;
  right: 100%; 
  margin-right: -20px;
  margin-bottom: 10px;
  height: 20px;
  width: 20px;
  background-color: #009fe3;
  text-align:center;
  color: white;
  line-height: 0.2em;
}

.par-timeline:nth-child(odd):before {
  content: counter(section);
  left: 100%; 
  margin-left: -20px;
  position: absolute;
  border-radius: 50%;
  padding: 20px;
  height: 20px;
  width: 20px;
  background-color: #009fe3;
  text-align:center;
  color: white;
  line-height: 0.2em;
}

.par-timeline:nth-child(even) {
  border-left: 2px dashed;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  margin-right: 30px; 
  padding-right: 0;
}

.par-timeline:nth-child(odd) {
  border-right: 2px dashed;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-left: 30px; 
  padding-left: 0;
}

.par-timeline:first-child {
  border-top: 0;
  border-top-right-radius:0;
  border-top-left-radius:0;
}

.par-timeline:last-child {
  border-bottom-right-radius:0;
  border-bottom-left-radius:0;
}
/************************** MEDIA QUERIES *************************/
/*****************************************************************/
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /*************** HERO **********************/
  .hero-titles h1 {
    font-size: 72px;
  }
  .subtitulo {
    font-size: 32px;
  }
  .conoce-gloria h2 {
    font-size: 72px;
    width: 80%;
  }
  /************* FEATURES *************/
  .features-container {
    padding: 200px;
  }
  .feat-header h2 {
    text-align: start;
    font-size: 72px;
    text-wrap: balance;
  }
  .feat-info {
    display: flex;
    flex-direction: row-reverse;
    gap: 2em;
    align-items: center;
  }
  .par-feat-1 {
    display: none;
  }
  .par-feat-2 {
    display: block;
    font-size: 16px;
  }
  .feat-info-header {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 2em;
  }
  .feat-info-header h3 {
    font-size: 32px;
    line-height: 1.8;
    text-wrap: balance;
  }
  .feat-img-container {
    width: 50%;
  }
  /*********** aprendizaje ******************/
  .learn-container {
    padding: 0 200px;
  }
  .learn-info {
    display: flex;
    flex-direction: row;
    gap: 2em;
    align-items: center;
  }
}

/* Large devices (laptops/desktops, 980px and up) */
@media only screen and (min-width: 980px) {
  /**************** HERO *****************/
  .gloria-hero {
    padding: 100px 200px;
    flex-direction: row;
  }
  .hero-info {
    align-items: flex-start;
  }
  .hero-titles {
    align-items: flex-start;
    text-align: start;
    padding-block: 20px;
    max-width: 80%;
  }

  /********************** CONOCE GLORIA ******************/
  .conoce-gloria h2 {
    font-size: 72px;
    text-wrap: balance;
  }
  .road-timeline {
    width: 60%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
